<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />
			</div>
		</div>
		<br>
			<p class="lead">
				Welcome to the Inventory System!
			</p>
			<p>
				<ul class="list-unstyled action-list">
					<li>
						<a class="btn btn-primary btn-md" href="/#!/inventory">Inventory</a>
					</li>
					<li>
						<a class="btn btn-primary btn-md" href="/#!/kits">Kits</a>
					</li>
					<li>
						<a class="btn btn-primary btn-md" href="/#!/systems">Systems</a>
					</li>
				</ul>
			</p>
	</div>	
	
	<!--<div style="position: relative">
        <p style="position: fixed; bottom: 0; width:50%; text-align: left"># of Kits</p>	
	</div>	
	<div style="position: relative">
        <p style="position: fixed; bottom: 0; width:82%; text-align: right"># of Systems</p>
    </div>-->
</section>
