<section data-ng-controller="KitsController" data-ng-init="find()">
<div class="page-header">
    <h1>Kits</h1>
</div>
<div>
	<h3>Completed Kits</h3>
</div>
<div class="row">
		<div class="col-md-12">
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>Type</th>
						<th>Serial Number</th>
                        <th>Actions</th>
					</tr>
				</thead>

				<tbody>
					<tr data-ng-repeat="kit in kits | filter: { isSystem: false } | completed: true">
						<td>{{kit.kitTypeId | gxType}}</td>
						<td>{{kit.serialNmbr}}</td>
                        <td>
                            <div class="btn-group btn-group-xs">
                                <a class="btn btn-default" data-tooltip="Make this kit into a system" ng-click="makeSystem(kit)">
                                    <i class="glyphicon glyphicon-ok"></i>
                                </a>
                            </div>
                        </td>
					</tr>
				</tbody>
			</table>
		</div>
</div>

<div>
	<h3>Incomplete Kits</h3>
</div>
<div class="row">
		<div class="col-md-12">
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>Type</th>
						<th>Serial Number</th>
                        <th>Missing Parts</th>
                        <th>Action</th>
					</tr>
				</thead>

				<tbody>
					<tr ng-init="showMissing = false" data-ng-repeat-start="kit in kits | completed: false">
						<td>{{kit.kitTypeId | gxType }}</td>
						<td>{{kit.serialNmbr}}</td>
                				<td><a ng-click="showMissing  = !showMissing">{{kit.missingParts.length}}</a></td>
                				<td>
                					<div class="btn-group btn-group-xs">
                            					<a class="btn btn-default" data-tooltip="Complete this kit" ng-click="complete(element)">
                               						<i class="glyphicon glyphicon-ok"></i>
       		                     				</a>
        	                			</div>
            					</td>
					</tr>
					<tr data-ng-if="showMissing" data-ng-repeat-end>
						<td colspan="4">
							<table class="table table-striped table-bordered">
								<thead>
									<th>Part</th>
									<th>Quantity Missing</th>				
								</thead>
								<tbody>
									<tr data-ng-repeat="part in kit.missingParts">
										<td>{{part._id}}</td>
										<td>{{part.quantity}}</td>					
									</tr>				
								</tbody>	
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
</div>
</section>
